<!DOCTYPE html>
<html>
<head>
	<title>GOLD LIMITED GROUP</title>
</head>
<body>
	<div id="header">
	<h1>About GLG- Gold limited Group</h1>
	</div>
	<div class="para">
		<div id="box2"> </div> 
		<div id="box3"> </div>
    	<h2>Who We Are</h2>
    	<p>Gold Limited Group is founded in 1889 by Doris and Brothers in Philadelphia to provide jewelry to retailers and individuals. We started by buying golden jewelries from local communities and reselling at a profitable price. After a half a centery in the business, GlG cooperated with Kinross Gold mining company and opened a golden jewelry manufactory in Ohio. 
		</p>

		<h2>What We Do</h2>
		<p>At GLG, we strive to provide the best quality of golden jewelry for our customers. We have everything gold lovers might need: wacthes, necklaces, earings, belts, golden teeth, and many more items.

		<h2>Our Customers</h2>
		<P> Our customers are all over the world. Some of big companies associated with us are Walmart, Target, K-jewelry. we run 550 stores around the world. For more informations, you can refer to our imgGallery and contact us pages. 
		</p>
    </div>
    <!-- "=" means printing on screen -->
</body>
</html>

<!-- #embedded ruby -->