<div class="contact">
    <h1 class="contact__title">Contact us</h1>
    <p>
    888-265-4444 - Toll Free </br>
    +1 354-675-6537 - Outside US </p>

    <form method="get" action="/contacting">
    <div><input class="contact__email" type="text" name="email" placeholder="Email"></div>
    <div><input class="contact__subject" type="text" name="subject" placeholder="Subject"></div>
    <div><textarea class="contact__content" type="text" name="content"></textarea></div>
    </br>
    <input class="contact__button" type="submit" name="" value="Send Email">
    </form>

</div>