<div class="contact">
    <h1 class="contact__title">Contact us</h1>
    <p>
    888-265-4444 - Toll Free </br>
    +1 354-675-6537 - Outside US </p>

    <form method="get" action="/contacting">

<div>Email:<input type="text" name="email"></div>

<div>Subject<input type="text" name="subject"></div>

<div>Content<input type="text" name="content"></div>
</br>

<input type="submit" name="" value="Send Email">

</form>

</div>