<% #Ty Thompson %>
<div class="gallery">
	<div class="gallery__image">
		<div class="gallery__img1"></div>
		<p class="gallery__info">$$$$$$</p>	
	</div>
	<div class="gallery__image">
		<div class="gallery__img2"></div>
		<p class="gallery__info">$$$$$$</p>	
	</div>
	<div class="gallery__image">
		<div class="gallery__img3"></div>
		<p class="gallery__info">$$$$$$</p>	
	</div>
	<div class="gallery__image">
		<div class="gallery__img4"></div>
		<p class="gallery__info">$$$$$$</p>	
	</div>
	<div class="gallery__image">
		<div class="gallery__img5"></div>
		<p class="gallery__info">$$$$$$</p>	
	</div>
	<div class="gallery__image">
		<div class="gallery__img6"></div>
		<p class="gallery__info">$$$$$$</p>	
	</div>
</div>
