<%= "you are searching for #{@search_term}" %>
<!-- doesn't show ?search=   -->

<form method="get" action="/search">
	<input type="text" name="request">
	<!-- from app.rb => params[:search] -->
	<input type="submit" name="">
</form>