<% #Ty Thompson %>
<div class="gallery">
	<div class="gallery__image">
		<div class="gallery__img1"></div>
		<p class="gallery__info">24K Gold Ring $449</p>	
	</div>
	<div class="gallery__image">
		<div class="gallery__img2"></div>
		<p class="gallery__info">Lion Ring $500</p>	
	</div>
	<div class="gallery__image">
		<div class="gallery__img3"></div>
		<p class="gallery__info">Buddha Pendant $649</p>	
	</div>
	<div class="gallery__image">
		<div class="gallery__img4"></div>
		<p class="gallery__info"> 18K Braided Chain $399</p>	
	</div>
	<div class="gallery__image">
		<div class="gallery__img5"></div>
		<p class="gallery__info">Necklace $499</p>	
	</div>
	<div class="gallery__image">
		<div class="gallery__img6"></div>
		<p class="gallery__info">Bracelet $249</p>	
	</div>
</div>
