<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title></title>
</head>
<body>
	<div id="box">

		
	</div>
<h1>Welcome To The World's Number One Company Of Gold!</h1>



</body>
</html>


