<!DOCTYPE html>
<html>
<head>
	<title>Gold Limited Group</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	
	<nav class='navbar'>
		<img src="../img/logo.png" width='250px'>
	<ul id='menu'>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/review">Review</a></li>
		<li><a href="/imgGallery">Shop</a></li>
		<li><a href="/contact">Contact</a></li>

	</ul>
    </nav>

    <div class='main-container'> <%= yield %> </div>

<footer class='footer'>
	copyright 2018 Gold Limited Group 
			
</footer>

</body>
</html>
