<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class='wrapper'>
		<br/>
		<h2>Tell us how we are doing.</h2>
		<div class='review'>
			<p>Name: <br/><input id='person' type="text" name="" ><br/></p>
			<p>Email: <br/><input id='email' type="email" name=""><br/></p>
			<p>Comments: <br/><textarea id='comments' ></textarea><br/></p>
			<input id='submit' type="submit" value="Submit">
		</div>
</div>

<div id='display'>
	<br/>
	<br/>
	<br/>
	<div id='writer'></div>
    <div id='content'> </div>
    <div id='date'></div>
    <br/>
    <div id='line'> </div>
	<div id='m-writer1'>i_heart_gold</div>
    <div id='m-content1'>GLG is the best place you can get your gold. They have fair price and great selections. </div>
    <div id='m-date1'>03/23/2017</div>
    <br>
    <hr>
    <div id='m-writer1'>lionking78</div>
    <div id='m-content1'>Yo! get your ass here, period</div>
    <div id='m-date1'>02/18/2016</div>
    <br>
    <hr>
</div>

<script type="text/javascript" src="javascript/review.js"></script>
</body>
</html>