<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class='wrapper'>
		<br/>
		<h2>Tell us how we are doing.</h2>
		<div class='review'>
			<p>Name: <br/><input id='person' type="text" name="" ><br/></p>
			<p>Email: <br/><input id='email' type="email" name=""><br/></p>
			<p>Comments: <br/><textarea id='comments' ></textarea><br/></p>
			<input id='submit' type="submit" value="Submit">
		</div>
</div>

<div id='display'>
	<br/>
	<br/>
	<br/>
	<div id='writer'></div>
    <div id='content'> </div>
    <div id='line'> </div>
	
</div>

<script type="text/javascript" src="javascript/review.js"></script>
</body>
</html>