.contact {
    margin-top: 2vh;
    text-align: center;
}
.contact__title {
    font-size: 3em;
}
.contact__email {

}
.contact__subject {

}
.contact__content {
   height: 200px;
}
.contact__button {
    // @include submit;
}