.gallery__image {
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.gallery__img1 {
    justify-items: inherit;
    width: 200px;
    height: 200px;
    background-image: url('../img/goldRing2.jpg');
    background-size: cover;
}
.gallery__info {
    text-align: center;
}
.gallery {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
}
.gallery__img2 {
    justify-items: inherit;
    width: 200px;
    height: 200px;
    background-image: url('../img/goldRing3.png');
    background-size: cover;
}
.gallery__img3 {
    justify-items: inherit;
    width: 200px;
    height: 200px;
    background-image: url('../img/buddha.jpg');
    background-size: cover;
}
.gallery__img4 {
    justify-items: inherit;
    width: 200px;
    height: 200px;
    background-image: url('../img/goldChain.jpg');
    background-size: cover;
}
.gallery__img5 {
    justify-items: inherit;
    width: 200px;
    height: 200px;
    background-image: url('../img/gold.jpg');
    background-size: cover;
}
.gallery__img6 {
    justify-items: inherit;
    width: 200px;
    height: 200px;
    background-image: url('../img/bracelet.jpg');
    background-size: cover;
}
.gallery__info {
    font-weight: bold;
}