
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
*{
	margin:0 0;
	
}

.navbar{
	text-align: center;
	border-bottom: 1px solid;
	background-color: black;
}

#menu{
	padding-top:10px;
	list-style-type:none;
	padding-bottom:10px;
    
}

 #menu li{
	display: inline-block;
	margin-right:50px;
	font-family: 'Barlow Condensed', sans-serif;
	font-size:18px;
	color: white;
}

#menu li a{
    text-decoration: none;
    color: white;
   } 
